
.mainContainer{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 500px;
    bottom: 0.8rem;
    border-radius: 10px;
    background-color: white;
    
    
}

.form{
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: start;
    align-items: start;
    padding: 2rem 0;
    background-color: transparent;
}

.toptContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    padding: 0 1.5rem;
}

.bottomContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    background-color: transparent;
    padding: 0 1.5rem;
}

.textContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: start;
    align-items: start;
    background-color: transparent;
}

.textContainer h4{
    font-size: 2rem;
    background-color: transparent;
}

.textContainer p{
    font-size: 0.9rem;
    color: #000000c3;
    background-color: transparent;
    font-weight: 600;
}

.iconContainer{
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
    width: 20%;
    
    
}

hr{
    width: 100%;
}
.firstInputContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    background-color: transparent;
}

.p{
    width: 10rem;
    height: 1.5rem;
    color: black;

}
.questionMark{
    background-color: black;
    color: white;
    padding: 0 0.2rem;
    border-radius: 1.5rem;

}
.firstInputContainer input{
    width: 50%;
    height: 40px;
    padding-left: 0.5rem;
    border: none;
    border: 1px solid #CCD0D5;
    border-radius: 0.5rem;
    background-color: #F5F6F7;
}

.secondInputContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    background-color: transparent;
}

.secondInputContainer input{
    width: 100%;
    height: 40px;
    padding-left: 0.5rem;
    border: none;
    border: 1px solid #CCD0D5;
    border-radius: 0.5rem;
    background-color: #F5F6F7;
}

.textAndSelectFieldsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: start;
    align-items: start;
    background-color: transparent;
}

.textAndSelectFieldsContainer p{
    font-size: 0.8rem;
    background-color: transparent;
    color: #aaa9a9;
}

.selectFieldsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: start;
    background-color: transparent;
}

.selectFieldsContainer select{
    width: 32%;
    height: 40px;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    border: none;
    border: 1px solid #CCD0D5;
    border-radius: 0.5rem;
    background-color: transparent;
}

.textAndRadioOptionsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: start;
    align-items: start;
    background-color: transparent;
}

.textAndRadioOptionsContainer h5{
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    color: #aaa9a9;
}

.radioOptionsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: start;
    background-color: transparent;
}

.radioOptionsContainer label{
    width: 32%;
    height: 40px;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    border: none;
    border: 1px solid #CCD0D5;
    border-radius: 0.5rem;
    background-color: transparent;
}

.radioOptionsContainer p{
    background-color: transparent;
}

button{
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    background-color: transparent;
    background-color: #00A400;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

p{
    font-size: 0.7rem;
    background-color: transparent;
    font-weight: 100;
    text-align: justify;
    color: rgb(129, 109, 109);
}

p a{
    background-color: transparent;
}